In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import urllib
import requests

# 1

In [27]:

# Set up API keys
DISTANCE_MATRIX_API_KEY = 'AIzaSyBEkYyNYKUDGgHA2U4DtG6wNWm-N1d0bnw'
GEOCODE_API_KEY = 'AIzaSyBEkYyNYKUDGgHA2U4DtG6wNWm-N1d0bnw'

# Set up base URLs for APIs
DISTANCE_MATRIX_BASE_URL = 'https://maps.googleapis.com/maps/api/distancematrix/json'
GEOCODE_BASE_URL = 'https://maps.googleapis.com/maps/api/geocode/json'

# Set up origin city
origin = 'Tel Aviv'

# Read destinations from file
with open('dests.txt', 'r') as f:
    destinations = f.read().splitlines()

# Set up empty lists to store data
targets = []
distances = []
durations = []
longitudes = []
latitudes = []

# Loop through destinations and retrieve data
for destination in destinations:
    # Get distance and duration data from Distance Matrix API
    distance_matrix_params = {
        'origins': origin,
        'destinations': destination,
        'key': DISTANCE_MATRIX_API_KEY,
        'units': 'metric'
    }
    distance_matrix_response = requests.get(DISTANCE_MATRIX_BASE_URL, params=distance_matrix_params).json()
    distance = distance_matrix_response['rows'][0]['elements'][0]['distance']['value'] / 1000
    duration = distance_matrix_response['rows'][0]['elements'][0]['duration']['value'] / 60

    # Get longitude and latitude data from Geocode API
    geocode_params = {
        'address': destination,
        'key': GEOCODE_API_KEY
    }
    geocode_response = requests.get(GEOCODE_BASE_URL, params=geocode_params).json()
    longitude = geocode_response['results'][0]['geometry']['location']['lng']
    latitude = geocode_response['results'][0]['geometry']['location']['lat']

    # Append data to lists
    targets.append(destination)
    distances.append(distance)
    durations.append(duration)
    longitudes.append(longitude)
    latitudes.append(latitude)

# Create DataFrame from data
df = pd.DataFrame({
    'Target': targets,
    'Distance_km': distances,
    'Duration(M)': durations,
    'Longitude': longitudes,
    'Latitude': latitudes
})

# 2

In [28]:
# Convert minutes to hours and minutes
df['Duration(HH:MM)'] = df['Duration(M)'].apply(lambda x: f"{int(x) // 60:02d}:{int(x) % 60:02d}")

df

      Target  Distance_km  Duration(M)  Longitude   Latitude Duration(HH:MM)
0   Istanbul     1815.227  1262.866667  28.978359  41.008238           21:02
1  Amsterdam     4532.619  2885.333333   4.904139  52.367573           48:05
2   Valletta     3792.877  3051.250000  14.514100  35.899237           50:51
3      Basel     4092.812  2642.383333   7.588576  47.559599           44:02
4       Doha     2164.477  1358.783333  51.531040  25.285447           22:38

# 3

In [29]:
df.nlargest(3, 'Distance_km')

      Target  Distance_km  Duration(M)  Longitude   Latitude Duration(HH:MM)
1  Amsterdam     4532.619  2885.333333   4.904139  52.367573           48:05
3      Basel     4092.812  2642.383333   7.588576  47.559599           44:02
2   Valletta     3792.877  3051.250000  14.514100  35.899237           50:51